.link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: var(--text-main);
    color: var(--text-main);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.link:hover:after {
    width: 100%;
    left: 0;
    background: var(--text-main);
    color: var(--text-main);
}

.hover-zoom {
    transition: transform 0.2s ease;
}

.hover-zoom:hover {
    transform: scale(1.25);
}

.hover-bob {
    transition: transform 0.2s ease;
}

.hover-bob:hover {
    transform: translateY(-4px);
}

.fa-github:hover {
    color: var(--github-green);
}

.fa-linkedin:hover {
    color: var(--linkedin-blue);
}