#branding {
    color: var(--accent1-dark);
}

.education {
    background-color: var(--accent2-light);
    padding-top: var(--margin-xxxl);
}

.experience {
    background-color: var(--accent-1);
}

.line1, .line2, .line3 {
    background-color: var(--accent2);
}

