* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --xxs: .25rem;
    --xs: .5rem;
    --s: .75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.75rem;
    --xxl: 2.5rem;
    --xxxl: 4rem;

    --accent1: rgb(90, 140, 160);
    --accent1: oklch(0.6500 0.0525 200);
    --accent2: rgb(231, 123, 0);
    --accent2: oklch(0.6500 0.1850 50);
    --text-main: black;
    --text-sub: rgb(70, 70, 70);
}

a {
    text-decoration: none;
    color: var(--text-main);
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    min-height: 100dvh;
    padding: 1rem;
    box-sizing: border-box;
    width: 640px;
    gap: var(--xxxl);
}

#branding {
    font-weight: bold;
    font-size: var(--xxl);
    color: var(--accent1);
}

.navigation {
    display: flex;
    gap: var(--m);
}

.content {
    gap: var(--m);
}