* {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 4rem;
}

/* :root {
    --bg-dark: oklch(0.9 0 0);
    --bg: oklch(0.95 0 0);
    --bg-light: oklch(1 0 0);
    --text: oklch(0 0 0);
    --text-muted: oklch(0.5 0 0);
    --accent1: oklch(0.7250 0.0525 200);
    --accent2: oklch(0.7250 0.1850 50);
} */

/* .dark {
    --bg-dark: oklch(0.1 0 0);
    --bg: oklch(0.2 0 0);
    --bg-light: oklch(0.3 0 0);
    --text: oklch(0.95 0 0);
    --text-muted: oklch(0.65 0 0);
} */

:root {
    --bg-dark: oklch(0.9 0 0);
    --bg: oklch(0.95 0 0);
    --bg-light: oklch(1 0 0);
    --text: oklch(0.9 0 0);
    --text-muted: oklch(0.5 0 0);
    --accent1: oklch(0.7250 0.0525 200);
    --accent2: oklch(0.7250 0.1850 50);
}

body {
    display: flex;
    flex-flow: row wrap;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text-muted);
    padding: var(--margin-xs) var(--margin-s);
    border-radius: var(--margin-xs);
    transition: color 0.5s;
}

.normal-text {
    font-size: 1.25rem;
}

.subtext {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.fullscreen {
    width: 100vw;
    height: 100dvh;
    padding: var(--margin-m);
}

#branding {
    position: absolute;
    top: 20px;
    left: 15px;
    font-weight: bold;
    color: var(--accent2);
}

#nav-button-container {
    position: absolute;
    top: 18px;
    right: 20px;
}

#nav-button {
    position: sticky;
    top: 18px;
}

.content {
    background-color: var(--accent1);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.blurb {
    display: flex;
    flex-flow: column wrap;
    gap: var(--margin-l);
}

.text-content {
    max-width: 28rem;
}

.footer {
    background-color: var(--accent2);
}

/* 
@media screen and (min-width: 481) {

}

@media screen and (min-width: 769) {

} */